
h2 {
    margin: 0;
    font-size: 1.2em;
  }
  
  ul {
    margin: 0;
    padding: 0 0 0 1.5em;
  }
  
  li {
    margin: 1.5em 0;
    padding: 0;
  }
  
  b { 
    margin-right: 1.5em;
  }
  
  .demo-app {
    display: flex;
    min-height: 100%;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 1em;
  }
  
  .demo-app-sidebar {
    line-height: 1.5;
    background: #eaf9ff;
    border-right: 1% solid #d3e2e8;
  }
  
  .demo-app-sidebar-section {
    padding: 2em;
    text-align: left;
  }
  
  .demo-app-main {
    flex-grow: 1;
    padding: 3em;
  }
  
  .fc { /* the calendar root */
    max-width: 90%;
    margin: 0 auto;
  }

  .expired {
    color: #d82839; 
    
  }

  .legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 3%;
  }

  p{
    margin: 0;
  }

  .color {
    width: 1.5vw;
    height: 3vh;
    margin-right: 5%;
  }

  #activity{
    background: #FFBB33; 
    border: #FF8800;
  }

  #activityExpired{
    background: #d82839; 
    border: #FF8800;
  }

  #event{
    background: #4c95e4;
  }

  input{
    margin-right: 2%;
  }

  button {
    background-color: #007bff;
    color: white;
    padding: 2vh;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 1vw;
    margin-bottom: 2vh;
    transition: background-color;
    width: 100%;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }

  .fc .fc-daygrid-day.fc-today {
    background-color: red; 
  }
