<div class="page-container">
  <app-navbar></app-navbar>
  <div class="container">
    <div class='demo-app'>
      <div class='demo-app-sidebar'>
        <div class='demo-app-sidebar-section'>
          <button (click)="handleNewActivity()">Nuova Attività</button>
          <button (click)="handleNewEvent()">Nuovo Evento</button>
        </div>

        <div class='demo-app-sidebar-section'>
          <div class="legend-item">
            <div id="event" class="color"></div>
            <p>Eventi</p>
          </div>
          <div class="legend-item">
            <div id="activity" class="color"></div>
            <p>Attività</p>
          </div>
      </div>
        
        <div class='demo-app-sidebar-section'>
          <h2><u>Attività</u>({{activities.length}})</h2>

          <ul style="list-style-type: none;">
            <li *ngFor="let activity of activities" > 
              <p><input type="checkbox" (change)="onCheckboxChange(activity)" />
              <b [ngClass]="{'expired': isExpired(activity)}">{{ activity.title }}</b></p>
              <p>{{ activity.dueDate | date:'dd/MM/yyyy' }}</p>
              <p><i>{{ activity.notes }}</i></p>
              
            </li>
          </ul>
        </div>
        
        <div class='demo-app-sidebar-section'>
          <h2><u>Eventi</u> ({{events.length}})</h2>
          <ul style="list-style-type: none;">
            <li *ngFor="let event of events" > 
              <p><b>{{ event.title }}</b></p>
              <p>inizio: {{ event.dateStart | date:'dd/MM/yyyy HH:mm' }}</p>
              <p *ngIf="isAllDay(event)">Tutto il giorno</p>
              <p *ngIf="!isAllDay(event)">fine: {{ event.dateEnd | date:'dd/MM/yyyy HH:mm' }}</p>
              <p><i>{{ event.notes }}</i></p>
              
            </li>
            <!-- <li *ngFor='let event of currentEvents()'> -->
              <!--<b>{{event.startStr}}</b>-->
              <!--<i>{{event.title}}</i>-->
            <!--</li>-->
          </ul>
        </div>
      </div>
    
      <div class='demo-app-main'>
        <full-calendar #fullcalendar [options]='calendarOptions()'>
          <ng-template #eventContent let-arg>
            <b>{{ arg.timeText }}</b>
            <i>{{ arg.event.title }}</i>
          </ng-template>
        </full-calendar>
      </div>
    </div>
  </div>
    
  <div class="timebar" (mousedown)="onMouseDown($event)">
    <span>&#8596;</span>
    <app-time-machine></app-time-machine>
  </div>
  <app-footer></app-footer>
</div>