.preview-box, .preview-card {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    height: 300px;
    text-align: center;
    overflow-y: scroll;
}

.preview-card h3, .preview-box h3 {
    color: #007bff;
    font-family:fantasy;
}

.preview-card ul, .preview-box ul{
    list-style: none;
    padding: 0;
}

.preview-card li, .preview-box li {
    padding: 5px;
    border-radius: 15px;
    background-color: rgba(255, 226, 96, 0.8);
    margin: 5px 0px;
}
.preview-box li p:first-child, .preview-card li p:first-child{
    color:#000000;
    font-weight:500;
    font-size: 120%;
}
.preview-box li p, .preview-card li p{
    color:#848484;
    padding: 0;
    margin: 0;
}
