.eventDialog{
    background: #4c95e4;
}

.error-message{
    margin-left: 5%;
    color: red;
}

.custom-form-field {
    width: 100%; 
    max-width: 400vw; 
}

#delete{
    font-weight: bold;
    background-color: whitesmoke;
    
}
