<h2 mat-dialog-title>New Event</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Titolo</mat-label>
    <input matInput [(ngModel)]="data.title">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Data e ora di inizio</mat-label>
    <input matInput type="datetime-local" [(ngModel)]="data.dateStart">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Data e ora di fine</mat-label>
    <input matInput type="datetime-local" [(ngModel)]="data.dateEnd">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Note</mat-label>
    <textarea matInput [(ngModel)]="data.notes"></textarea>
  </mat-form-field>


</mat-dialog-content>
<p id="inputError" class="error-message"></p>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Annulla</button>
  <button mat-button (click)="onSave()">Salva</button>
</mat-dialog-actions>
