<h2 mat-dialog-title>New Activity</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="data.title">
  </mat-form-field>

  <mat-form-field>
    <mat-label>To complete</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="data.dueDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Notes</mat-label>
    <textarea matInput [(ngModel)]="data.notes"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Annulla</button>
  <button mat-button (click)="onSave()">Salva</button>
</mat-dialog-actions>
