<div class="host-block" *ngIf="timeMachine">
    <div class="time-display">
        <h2>{{ timeMachine.date | date: 'EEEE, d MMMM' }}</h2> <!-- Giorno e data -->
        <h1>{{ timeMachine.date | date: 'HH:mm:ss' }}</h1> <!-- Ora -->
    </div>

    <div class="info-block">
        <p>Account: {{ username }}</p>
        
        <label for="newDate">Nuova data e ora:</label>
        <input id="newDate" type="datetime-local" [(ngModel)]="newDate">

        <div class="button-group">
            <button (click)="updateTimeMachine()">Aggiorna</button>
            <button (click)="resetTimeMachine()">Reset</button>
        </div>
    </div>
</div>
