<div class="host-block" *ngIf="timeMachine">
    <div class="time-display">
        <h6>{{ timeMachine.date | customDate }}</h6>
    </div>

    <div class="info-block">
        <p>Account: {{ username }}</p>

        <label for="newDate">Imposta data e ora:</label>
        <input id="newDate" type="datetime-local" [(ngModel)]="newDate">

        <div class="button-group">
            <button (click)="updateTimeMachine()">Aggiorna</button>
            <button (click)="resetTimeMachine()">Reset</button>
        </div>
    </div>
</div>