<div class="page-container">
    <app-navbar></app-navbar>
    <div class="container">
        <h2>Gioco del Tris</h2>
        <div id="turn-info">
            <p id="status">Turno: Giocatore {{ currentPlayer }}</p>
        </div>
        <div id="board" class="board">
            <div class="cell" *ngFor="let cell of cells; let i = index" (click)="makeMove(i)">
                {{ cell }}
            </div>
        </div>
        <button class="reset-button" (click)="resetGame()">Resetta Gioco</button>

        <!-- Pop-up per la vittoria -->
        <div id="winner-modal" *ngIf="winner" class="winner-modal">
            <p>Vincitore:</p> <p>Giocatore {{ winner }}</p>
            <button class="close-modal" (click)="resetGame()">Gioca di nuovo</button>
        </div>

        <!-- Pop-up per il pareggio -->
        <div id="draw-modal" *ngIf="isDraw" class="winner-modal">
            <p>Pareggio!</p>
            <button class="close-modal" (click)="resetGame()">Gioca di nuovo</button>
        </div>
        <div class="timebar" (mousedown)="onMouseDown($event)">
            <span>&#8596;</span>
            <app-time-machine></app-time-machine>
        </div>
    </div>
    <app-footer></app-footer>
</div>
