<nav class="navbar">
    <ul>
        <!--li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></!--li>
        <li-- *ngIf="isLoggedIn"><a (click)="onLogout()">Logout</a></li-->
        <li><a routerLink="/userNote">Note</a></li>
        <li><a routerLink="/calendar">Calendario</a></li>
        <li><a routerLink="/pomodoroTimer">Pomodoro</a></li>
        <li><a routerLink="/timeMachine">Time_Machine</a></li>
        <li><a routerLink="/liveChat">Live_Chat</a></li>
        <li><a routerLink="/game">Giochi</a></li>
        <li><a routerLink="/login">Login?</a></li>
    </ul>
</nav>
