<nav class="navbar">
    <ul>
        <li><a routerLink="/home"><img src="/assets/home_icona.png" alt=""></a></li>
        <li><a routerLink="/userNote">Note</a></li>
        <li><a routerLink="/calendar">Calendario</a></li>
        <li><a routerLink="/pomodoroTimer">Pomodoro</a></li>
        <li><a routerLink="/timeMachine">Time_Machine</a></li>
        <li><a routerLink="/flashCard">Flash_Card</a></li>
        <li><a routerLink="/game">Giochi</a></li>
        <li><a (click)="onLogout()">Logout</a></li>
    </ul>
</nav>
