<div class="flash-card-container">
    <!-- Modalità di visualizzazione Flash-Card: Tutti i Topic -->
    <div *ngIf="visualMode === 0" class="preview-card">
        <h4>Elenco Topic</h4>
        <ul>
            <li *ngFor="let topic of topics">
                <h6>{{ topic }}</h6>
            </li>
        </ul>
    </div>

    <!-- Modalità di visualizzazione Flash-Card: Tutte le Domande per ogni Topic -->
    <div *ngIf="visualMode === 1" class="preview-card">
        <h4>Domande</h4>
        <div *ngFor="let flashcardSet of flashcardSets">
            <h6>{{ flashcardSet.topic }}</h6>
            <ol>
                <li *ngFor="let card of flashcardSet.flashcards">
                    {{ card.question }}
                </li>
            </ol>
        </div>
    </div>

    <!-- Modalità di visualizzazione Flash-Card: Tutte le Risposte per ogni Topic -->
    <div *ngIf="visualMode === 2" class="preview-card">
        <h4>Risposte</h4>
        <div *ngFor="let flashcardSet of flashcardSets">
            <h6>{{ flashcardSet.topic }}</h6>
            <ol>
                <li *ngFor="let card of flashcardSet.flashcards">
                    {{ card.answer }}
                </li>
            </ol>
        </div>
    </div>
</div>
