.container {
    background-image: url('/assets/snake_sfondo.png');
    display: flex;
    flex-direction: column;
}

.snake-game {
    text-align: center;
    margin-top: 20px;
}

#gameCanvas {
    border: 2px solid #000;
    background-color: #000;
}

canvas {
    display: block;
    background-color: #000;
}

.score {
    color: #fff;
    font-size: 20px;
    margin-top: 5px;
    font-family: 'Arial', sans-serif;
}

.reset-button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; /* Angoli arrotondati */
    transition: background-color 0.3s; /* Transizione per il colore di sfondo */
}

.reset-button:hover {
    background-color: #0056b3;
}
.game-over-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    animation: blink 1s infinite alternate, showModal 0.5s ease-in-out;
    font-size: 20px;
}

button.close-modal {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button.close-modal:hover {
    background-color: #218838;
    transform: scale(1.05);
}

