
<app-navbar></app-navbar>
<h2>Gioco dell'Impiccato</h2>
<div class="container">
    <div class="mainbar">
        <div class="columns-container">
            <!-- Colonna per le informazioni del gioco -->
            <div id="left-column">
                <div id="game-info">
                    <p>Indovina la parola:</p>
                    <div id="word-display">
                        <span *ngFor="let char of displayedWord">{{ char }}</span>
                    </div>
                    
                    <!-- Informazioni sui tentativi e lettere indovinate -->
                    <div id="info-bottom">
                        <p id="remaining-attempts">Tentativi rimanenti: {{ remainingAttempts }}</p>
                    </div>
                    
                    <!-- Area di input 
                    <div id="input-area">
                        <input [(ngModel)]="currentGuess" maxlength="1" (keyup.enter)="makeGuess()" placeholder="lettera">
                        <button class="guess-button" (click)="makeGuess()">Prova</button>
                    </div> -->
                </div>
            </div>
            
            <!-- Colonna per l'immagine dell'impiccato -->
            <div id="right-column">
                <div id="hangman-display">
                    <img [src]="hangmanImage" alt="Hangman">
                </div>
            </div>
        </div>
    
        <!-- Alfabeto per la selezione delle lettere -->
        <div id="alphabet">
            <span *ngFor="let letter of alphabet"
                    [ngClass]="{'used-letter': guessedLetters.includes(letter), 'unused-letter': !guessedLetters.includes(letter)}"
                    (click)="selectLetter(letter)">
                {{ letter }}
            </span>
        </div>
        
        <!-- Modal di vittoria/sconfitta -->
        <div id="winner-modal" *ngIf="isGameOver" class="winner-modal">
            <p>{{ gameOverMessage }}</p>
            <button class="close-modal" (click)="resetGame()">Gioca di nuovo</button>
        </div>
    </div>
    <div class="sidebar">
        <app-time-machine></app-time-machine>
    </div>
</div>
<app-footer></app-footer>
