.container {
    margin: 20px auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    max-width: 1000px; /* Dimensione max per la pagina */
    height: 80vh;
}

h2 {
    font-size: 2.5em;
    color: #4A90E2;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.columns-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#left-column, #right-column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

#left-column {
    text-align: center;
}

#right-column {
    text-align: center;
}

#hangman-display img {
    max-width: 50%; /* Adatta l'immagine alla colonna */
    height: auto;
}

#word-display {
    font-size: 3em; /* Ingrandito per evidenziare meglio la parola */
    letter-spacing: 15px; /* Spazio extra tra le lettere */
    margin: 10px 0;
}

#info-bottom {
    margin-bottom: 20px;
}

#remaining-attempts {
    font-size: 1.2em;
    color: #555;
    margin-top: 30px;
}

#input-area {
    margin: 20px 0;
}

input {
    padding: 12px;
    font-size: 1.2em;
    border-radius: 8px;
    border: 2px solid #4A90E2;
    background-color: #f9f9f9;
    color: #333;
    margin-right: 10px;
    max-width: 60px;
    text-align: center;
    outline: none;
    transition: border-color 0.3s, background-color 0.3s, box-shadow 0.3s;
}

input::placeholder {
    color: #999;
}

input:focus {
    border-color: #4A90E2;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(74, 144, 226, 0.2);
}

input:disabled {
    background-color: #e0e0e0;
    color: #aaa;
    cursor: not-allowed;
}


button.guess-button {
    padding: 10px 20px;
    background-color: #cf2b96;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(255, 97, 252, 0.4);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

button.guess-button:hover {
    background-color: #c24fd9;
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(255, 97, 242, 0.6);
}

/* Alfabeto e lettere */
#alphabet {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#alphabet span {
    font-size: 1.2em; /* Ridotto di un quarto circa */
    margin: 3px; /* Ridotto per adattare la nuova dimensione */
    padding: 7px; /* Ridotto di un quarto circa */
    width: 30px;  /* Ridotto di un quarto circa */
    height: 30px; /* Ridotto di un quarto circa */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

.unused-letter {
    background-color: #FF6F61;
    color: white;
    cursor: pointer;
}

.unused-letter:hover {
    background-color: #D9534F;
    transform: scale(1.1);
}

.used-letter {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
}

/* Modal di vittoria/sconfitta */
.winner-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    animation: blink 1s infinite alternate, showModal 0.5s ease-in-out;
    font-size: 2em;
}

@keyframes blink {
    0% { background-color: rgba(0, 0, 0, 0.8); }
    50% { background-color: rgba(0, 0, 0, 0.6); }
    100% { background-color: rgba(0, 0, 0, 0.8); }
}

@keyframes showModal {
    from {
        transform: translate(-50%, -60%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

button.close-modal {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button.close-modal:hover {
    background-color: #218838;
    transform: scale(1.05);
}
