<div class="page-container">
    <app-navbar></app-navbar>
    <div class="container">
        <h3>Fai un break e divertiti</h3>
        <div class="games-grid">
            <div class="game-card">
                <a (click)="goToGame('tris')">
                    <img src="assets/tris.png" alt="Tris">
                    <h2>Tris</h2>
                </a>
            </div>
            <div class="game-card">
                <a (click)="goToGame('sudoku')">
                    <img src="assets/sudoku.jpg" alt="Sudoku">
                    <h2>Sudoku</h2>
                </a>
            </div>
            <div class="game-card">
                <a (click)="goToGame('impiccato')">
                    <img src="assets/impiccato.png" alt="Indovina la Parola">
                    <h2>Indovina la Parola</h2>
                </a>
            </div>
            <div class="game-card">
                <a (click)="goToGame('snake')">
                    <img src="assets/snake.png" alt="Snake">
                    <h2>Snake</h2>
                </a>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
