<div class="page-container">
    <app-navbar></app-navbar>
    <div class="container">
        <h1>Benvenuti nella Home dei Giochi!</h1>
        <div class="games-grid">
            <div class="game-card">
                <a href="tris.html">
                    <img src="tris.jpg" alt="Tris">
                    <h2>Tris</h2>
                </a>
            </div>
            <div class="game-card">
                <a href="sudoku.html">
                    <img src="sudoku.jpg" alt="Sudoku">
                    <h2>Sudoku</h2>
                </a>
            </div>
            <div class="game-card">
                <a href="indovina-la-parola.html">
                    <img src="indovina-la-parola.jpg" alt="Indovina la Parola">
                    <h2>Indovina la Parola</h2>
                </a>
            </div>
            <div class="game-card">
                <a href="snake.html">
                    <img src="snake.jpg" alt="Snake">
                    <h2>Snake</h2>
                </a>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
