<div class="page-container">
    <app-navbar></app-navbar>
    
    <div class="container">
        <h4>Fai un break e divertiti</h4>
        <div class="grid-card">
            <div class="game-card" (click)="goToGame('tris')">
                <img src="assets/tris.png" alt="Tris">
                <p>Tris</p>
            </div>
            <div class="game-card" (click)="goToGame('puzzle')">
                <img src="assets/puzzle.jpg" alt="Puzzle">
                <p>15-Puzzle</p>
            </div>
            <div class="game-card" (click)="goToGame('impiccato')">
                <img src="assets/impiccato.png" alt="Indovina la Parola">
                <p>L'impiccato</p>
            </div>
            <div class="game-card" (click)="goToGame('snake')">
                <img src="assets/snake.png" alt="Snake">
                <p>Snake</p>
            </div>
        </div>
        <div class="timebar">
            <app-time-machine></app-time-machine>
        </div>
    </div>
    <app-footer></app-footer>
</div>
