/* Stili comuni per tutti gli schermi */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.games-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.game-card {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.game-card img {
    width: 25%;
    border-radius: 10px;
}

.game-card h2 {
    font-size: 18px;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
}

.game-card a {
    text-decoration: none;
    color: inherit;
}

.game-card:hover {
    transform: scale(1.05);
}

/* Stili per schermi grandi: due giochi per riga */
@media (min-width: 768px) {
    .games-grid {
        justify-content: space-around;
    }
    
    .game-card {
        flex-basis: calc(50% - 40px); /* due giochi per riga */
    }
}

/* Stili per schermi piccoli: giochi in verticale */
@media (max-width: 767px) {
    .games-grid {
        flex-direction: column;
        align-items: center;
    }

    .game-card {
        flex-basis: 100%;
    }
}
