<div class="page-container">
    <app-navbar></app-navbar>
    <div class="container">
        
        <h1>Benvenuto su:</h1>
        
        <!--div class="previews-container">
            <!-- Eventi della settimana/giorno corrente 
            <app-eventi-preview></app-eventi-preview>

            <!-- Ultima nota creata 
            <app-ultima-nota></app-ultima-nota>

            <!-- Attività imminente -
            <app-attivita-imminente></app-attivita-imminente>

            <!-- Report sull'ultimo Pomodoro --
            <app-pomodoro-report></app-pomodoro-report>

            <!-- Orologio con l'orario del giorno --
            <app-orologio></app-orologio>
        </div -->
        
        <div class="timebar" (mousedown)="onMouseDown($event)">
            <span>&#8596;</span>
            <app-time-machine></app-time-machine>
        </div>
    </div>
    <app-footer></app-footer>
</div>
