<div class="page-container">
    <app-navbar></app-navbar>
    <div class="container">
        
        <h3>Benvenuto su SELFIE</h3>
        
        <div class="previews-container">
            
            <!-- Eventi della settimana/giorno corrente --> 
            <div class="navigator">
                <button class="prevButton" (click)="preEventi()">&#10094;</button>
                <app-eventi-preview [visualMode]="currentEventiVisualMode"></app-eventi-preview >
                <button class="nextButton" (click)="nextEventi()">&#10095;</button>
            </div>
            <!-- Ultima nota creata -->
            <div class="navigator">
                <button class="prevButton" (click)="preNote()">&#10094;</button>
                <app-ultima-nota [visualMode]="currentNoteVisualMode"></app-ultima-nota>
                <button class="nextButton" (click)="nextNote()">&#10095;</button>
            </div>
            <!-- Navigazione per il report pomodoro >
            <div class="navigator">
                <button class="prevButton" (click)="prePomodoro()">&#10094;</button>
                <app-pomodoro-report [visualMode]="currentPomodoroVisualMode"></app-pomodoro-report>
                <button class="nextButton" (click)="nextPomodoro()">&#10095;</button>
            </div -->

        </div>
        
        <div class="timebar" (mousedown)="onMouseDown($event)">
            <span>&#8596;</span>
            <app-time-machine></app-time-machine>
        </div>
    </div>
    <app-footer></app-footer>
</div>
