*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background-color: #e63946;
    height: 100%;
    width: 100%;
}
.container {
    text-align: center;
    margin: 10px auto;
    height: auto;
    align-items: center;
    width: 100%;
}