*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    background-image: url('/assets/Sfondo rosso.png');
    background-repeat: repeat;
}
.page-container{
    text-align: center;
    background-color: #f1f1f1;
}
.container {
    text-align: center;
    margin: 10px 0px;
    height: auto;
    align-items: center;
    width: 100%;
}

.timebar {
    position: fixed;
    bottom: 50px;
    right: 0;
    width: 240px; 
    height: 280px;
    border-radius: 10px;
    background-color: #f0f0f0;
    z-index: 1000;
    cursor: move;
}
.timebar span{
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.timebar app-time-machine {
    display: block;
}
