*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    background-image: url('/assets/Sfondo rosso.png');
    background-repeat: repeat;
}
.page-container{
    background-color: #ededed;
    text-align: center;
}
.container {
    text-align: center;
    margin: 10px auto;
    height: auto;
    align-items: center;
    width: 100%;
}

.timebar {
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    padding: 20px;
    cursor: move;
    z-index: 1000;
}
.timebar span{
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
app-time-machine {
    display: block;
}
