<div class="nota-container">
    <div *ngIf="visualMode === 0" class="nota-box">
    <h5>Elenco Note</h5>
    <ul>
        <li *ngFor="let note of notes" (click)="selectNote(note)">
        <strong>{{ note.title }}</strong> - {{ note.createdAt.slice(0,10) }}
        </li>
    </ul>
    </div>
  
    <div *ngIf="visualMode === 1" class="nota-grid">
        <div class="note-item" *ngFor="let note of notes" (click)="selectNote(note)" [ngStyle]="{'background-color': note.noteColor}">
            <h3>{{ note.title }}</h3>
            <pre>{{ note.content}}</pre>
            <p>Creato: {{ note.createdAt}}</p>
        </div>
    </div>

    <div *ngIf="visualMode === 2" class="nota-box">
        <h5>Note del Giorno</h5>
        <!-- Controllo se non ci sono note -->
        <p *ngIf="noteDay.length === 0">Oggi non sono state scritte nuove note.</p>
        <ul>
            <li *ngFor="let noteD of noteDay" (click)="selectNote(noteD)">
            <strong>{{ noteD.title }}</strong>
            </li>
        </ul>
    </div>
    

    <!--div *ngIf="visualMode === 2" class="nota-box">
    <h2>Note Preferite</h2>
    <div *ngIf="favoriteNotes.length > 0">
        <div *ngFor="let note of favoriteNotes" (click)="selectNote(note)" [ngStyle]="{'background-color': note.noteColor}">
        <h3>{{ note.title }}</h3>
        <pre>{{ note.content | truncate:200 }}</pre>
        </div>
    </div>
    <p *ngIf="favoriteNotes.length === 0">Non ci sono note preferite.</p>
    </div-->
    

    <!--div *ngIf="visualMode === 3" class="nota-box">
        <h2>Note ordinate per {{ selectedFilter }}</h2>
        <div *ngFor="let note of notes">
            <h3>{{ note.title }} ({{ note.content.length }} caratteri)</h3>
            <p>{{ note.createdAt | date }}</p>
            <pre>{{ note.content | truncate:200 }}</pre>
        </div>
    </div-->
      
</div>
  