.nota-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nota-grid {
  width: 350px;
  height: 350px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}

.note-item {
  border: 1px solid #ddd;
  padding: 5px;
  margin: 5px;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}
/*testo va a capo  e spezza la parola se esce dal contenitore*/
.note-item pre, .note-item h3 {
  white-space: pre-wrap;      
  word-break: break-word;  
  overflow-wrap: break-word;
}
  
.note-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.nota-box {
  width: 350px;
  height: 350px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 20px;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}

h5 {
  font-size: 1.5em;
  font-weight: bold;
  font-family: cursive;
  margin: 5px;
  padding: 0px;
  color: rgb(255, 41, 34);
}
