<div class="music-container">
    <h2>Music Player</h2>

    <label class="loadMusic">
        Carica la tua musica
        <input type="file" (change)="onFileUpload($event)" accept=".mp3" style="display: none;" />
    </label>

    <div *ngIf="musicList.length > 0">
        <p class="track">
            Stai ascoltando:<br> 
            <strong>{{ musicList[currentTrackIndex] }}</strong> <br>
            <button class="delete-btn" *ngIf="musicList[currentTrackIndex]"
                (click)="deleteTrack(musicList[currentTrackIndex])">Elimina traccia</button>
        </p>


        <audio controls [src]="audio.src" (ended)="nextTrack()"></audio>

        <div class="controls">
            <button class="control-btn" (click)="previousTrack()">Precedente</button>
            <button class="control-btn" (click)="nextTrack()">Successiva</button>
        </div>
    </div>
</div>