<!-- music.component.html -->
<div>
    <h2>Music Player</h2>

    <input type="file" (change)="onFileUpload($event)" accept=".mp3" />

    <div *ngIf="musicList.length > 0">
        <p class="track">Now Playing: {{ musicList[currentTrackIndex] }}</p>
        <button (click)="playTrack(currentTrackIndex)">Play</button>
        <button (click)="pauseTrack()">Pause</button>
        <button (click)="previousTrack()">Previous</button>
        <button (click)="nextTrack()">Next</button>
    </div>

    <ul>
        <li class="track" *ngFor="let track of musicList; let i = index">
            {{ track }}
            <button (click)="deleteTrack(track)">Delete</button>
        </li>
    </ul>
</div>