<app-navbar></app-navbar>
<div class="pomodoro-timer">
    <h1>Pomodoro Timer</h1>
  
    <div class="settings">
      <label>
        Work Minutes:
        <input type="number" [(ngModel)]="workMinutes" (input)="updateTimer()" min="1">
      </label>
      <label>
        Short Break Minutes:
        <input type="number" [(ngModel)]="shortBreakMinutes" (input)="updateTimer()" min="1" max="10">
      </label>
      <label>
        Long Break Minutes:
        <input type="number" [(ngModel)]="longBreakMinutes" (input)="updateTimer()" min="1" max="30">
      </label>
    </div>
  
    <div class="timer">
      <span>{{ minutes }}</span>:<span>{{ seconds | number: '2.0' }}</span>
    </div>
  
    <div class="controls">
      <button (click)="startTimer()" [disabled]="isRunning">Start</button>
      <button (click)="pauseTimer()" [disabled]="!isRunning">Pause</button>
      <button (click)="resetTimer()">Reset</button>
    </div>
  
    <div class="session-info">
      <p>{{ sessionMessage }}</p>
    </div>
  </div>
  
<app-footer></app-footer>