<h1 mat-dialog-title>Crea Nuova Nota</h1>
<div mat-dialog-content>
  <mat-form-field class="titleArea" appearance="fill">
    <mat-label>Titolo</mat-label>
    <input matInput [(ngModel)]="title" required maxlength="50">
  </mat-form-field>

  <mat-form-field class="contentArea" appearance="fill">
    <mat-label>Contenuto</mat-label>
    <textarea matInput [(ngModel)]="content" required (input)="adjustHeight($event)" ></textarea>
  </mat-form-field>

  <!-- Campo per aggiungere una nuova categoria -->
  <mat-form-field class="categoryArea" appearance="fill">
    <mat-label>Inserisci Categoria</mat-label>
    <input matInput [(ngModel)]="categoryInput" placeholder="Aggiungi categoria">
  </mat-form-field>
  <button mat-button (click)="addCategory()">Aggiungi Categoria</button>

  <!-- Lista delle categorie aggiunte con possibilità di rimuoverle -->
  <div *ngIf="categories.length > 0">
    <p>Categorie Aggiunte</p>
    <div class="category-container">
      <div *ngFor="let category of categories; let i = index" class="category-chip">
        {{ category }}
        <mat-icon class="closeIcon" (click)="removeCategory(i)">close</mat-icon>
      </div>
    </div>
  </div>
  <div class="color-selection">
    <p>Seleziona il colore della nota</p>
    <div class="color-options">
      <div *ngFor="let color of colors" class="color-option" (click)="selectColor(color.value)" [ngClass]="{'selected': selectedColor === color.value}">
        <div class="color-box" [ngStyle]="{'background-color': color.value}"></div>
        <span>{{ color.name }}</span>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Annulla</button>
  <button mat-button (click)="onCreate()" [disabled]="!title || !content || !selectedColor">Crea Nota</button>
</div>