<app-navbar></app-navbar>

<div class="container">
    <h1>Gestione Note</h1>

    <!-- Sezione per visualizzare le note -->
    <div *ngIf="notes.length > 0">
        <h2>Le tue Note</h2>
        <ul class="note-list">
            <li *ngFor="let note of notes" (click)="selectNote(note)" class="note-item">
                <h3>{{ note.title }}</h3>
                <p>{{ note.content }}</p>
                <p><strong>Creato il:</strong> {{ note.createdAt | date:'short' }}</p>
                <p><strong>Ultima modifica:</strong> {{ note.updatedAt | date:'short' }}</p>
            </li>
        </ul>
    </div>
    <div *ngIf="notes.length === 0">
        <p>Nessuna nota disponibile.</p>
    </div>

    <!-- Sezione per visualizzare e modificare la nota selezionata -->
    <div *ngIf="selectedNote" class="note-form">
        <h2>Modifica Nota</h2>
        <form (ngSubmit)="updateNote(selectedNote)">
            <label for="noteTitle">Titolo:</label>
            <input id="noteTitle" [(ngModel)]="selectedNote.title" name="title" required>

            <label for="noteContent">Contenuto:</label>
            <textarea id="noteContent" [(ngModel)]="selectedNote.content" name="content" required></textarea>

            <button type="submit">Aggiorna Nota</button>
            <button type="button" (click)="deleteNote(selectedNote.title)">Elimina Nota</button>
        </form>
    </div>

    <!-- Sezione per creare una nuova nota -->
    <div class="note-form">
        <h2>Crea Nuova Nota</h2>
        <form (ngSubmit)="createNote(newNote)">
            <label for="newNoteTitle">Titolo:</label>
            <input id="newNoteTitle" [(ngModel)]="newNote.title" name="title" required>

            <label for="newNoteContent">Contenuto:</label>
            <textarea id="newNoteContent" [(ngModel)]="newNote.content" name="content" required></textarea>

            <button type="submit">Crea Nota</button>
        </form>
    </div>

    <button (click)="loadPreviews()">Carica Anteprime</button>

</div>

<app-footer></app-footer>