.container {
    max-width: 1500px;
    margin-left: 0px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
}
.timebar app-time-machine {
    display: block;
}

h1 {
    text-align: center;
    color: #333;
}

/* Sezione filtri */
.filter-section, .color-filter-section {
    margin: 20px 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-section label, .color-filter-section label {
    font-weight: bold;
    color: #555;
}

.filter-section select, .color-filter-section select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.filter-section select:focus, .color-filter-section select:focus {
    border-color: #007bff; /* Colore blu per il focus */
}

/*Sezione Visualizzare Note*/
.notes-section {
    margin-top: 20px;
}

.note-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.note-item {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: #fafafa;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}
/*testo va a capo  e spezza la parola se esce dal contenitore*/
.note-item pre {
    white-space: pre-wrap;   
    word-break: break-word;  
    overflow-wrap: break-word;
}

.note-item h3 {
    white-space: pre-wrap;     
    word-break: break-word;  
    overflow-wrap: break-word;
}
  
.note-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* Stile generico per tutti i bottoni */
button {
    padding: 12px 20px;
    border: none;
    border-radius: 15px;
    background-color: #007bff;
    color: white; /* Testo bianco */
    font-size: 16px;
    font-weight: 600px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #0056b3; /* Colore più scuro al passaggio del mouse */
    transform: translateY(-3px); /* Leggero sollevamento al passaggio del mouse */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

button:active {
    transform: translateY(0); /* Ritorno alla posizione originale al clic */
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}

/* Stile specifico per il pulsante "Carica Anteprime" */
.preview-button {
    margin-top: 20px;
    background-color: #28a745; /* Verde per distinguersi dagli altri */
    color: white; /* Testo bianco */
}

.preview-button:hover {
    background-color: #218838; /* Colore più scuro al passaggio del mouse */
}

/* Stile per i pulsanti nella sezione di azione */
.action-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* I bottoni vanno a capo su schermi piccoli */
    gap: 10px;
}

@media (max-width: 768px) {
    .note-grid {
        grid-template-columns: 1fr;
    }
    
    .action-buttons {
        flex-direction: column;
        align-items: stretch; /* I bottoni si allungano per riempire la larghezza disponibile */
    }
    .filter-section, .color-filter-section {
        margin: 20px 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
